name: azure-deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          path: main

      - name: Dotnet Setup
        uses: actions/setup-dotnet@v3

      - name: Download DocFX
        run: dotnet tool update -g docfx

      - name: Build Documentation
        run: docfx main/docfx_project/docfx.json

      - name: Deploy to Azure Static Web Apps
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_KIND_MUD_057380600 }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          app_location: '/' # App source code path
          api_location: 'api' # Api source code path (if applicable)
          output_location: '/' # Built app content directory (default: 'build')
